<!-- HEADER TEMPLATE -->
{% extends 'templateBase.html' %}

{% block header %}
  {% block title %} USERNAME {% endblock %}
{% endblock %}

{% block pageTitle %} DASHBOARD {% endblock %}
{% block overallProgressLink %} active text-warning" aria-current="page {% endblock %}

{% block content %}
<!--     CONTENT ROWS -->
    <div class="row">
      <div class="col">
        Column
      </div>
      <div class="col">
        Column
      </div>
      <div class="col">
        Column
      </div>
    </div>
{% endblock %}

{% block footer %}
{% endblock %}
